@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit:wght@300;400&family=Lato:ital,wght@0,300;1,100&family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body {
    font-family: sans-serif;
    }
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home {
    min-height: 100vh;
    position: relative;
    background: url(../images/books.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.nav {
    min-height: 10vh;
    background:lightsteelblue;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
}